
.WaveLoader,
.WaveLoader div {
  box-sizing: border-box;
}
.WaveLoader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.WaveLoader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 6px;
  color: rgb(146, 146, 146);
  background: currentColor;
  animation: WaveLoader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.WaveLoader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.WaveLoader div:nth-child(2) {
  left: 22px;
  animation-delay: -0.12s;
}
.WaveLoader div:nth-child(3) {
  left: 36px;
  animation-delay: 0s;
}
@keyframes WaveLoader {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

